@model OdeToFood.Entities.Restaurant
<html>
    <head>
        <meta charset="utf-8" />
        <title>@Model.Name</title>
    </head>
    <body>
<<<<<<< HEAD
        <div>
            Dit is @Model.Name
            <br />
            Mijn id is @Model.Id
            <br/>
            Mijn CuisineType is @Model.CuisineType
        </div>
=======
    <div>
        Dit is @Model.Name
        <br />
        Mijn id is @Model.Id
        <br/>
        Mijn CuisineType is @Model.CuisineType
    </div>
    <p>Wrong?<a asp-action="Edit" asp-route-id="@Model.Id">Click here.</a></p>
>>>>>>> 9d7802e91a4525e9cb9b29dd64f96b665dd8bb5f
    </body>
    </html>