@model OdeToFood.Entities.Restaurant
<html>
    <head>
        <meta charset="utf-8" />
        <title>@Model.Name</title>
    </head>
    <body>
    <div>
        Dit is @Model.Name
        <br />
        Mijn id is @Model.Id
        <br/>
        Mijn CuisineType is @Model.CuisineType
    </div>
    <p>Wrong?<a asp-action="Edit" asp-route-id="@Model.Id">Click here.</a></p>
    </body>
    </html>