
@model OdeToFood.ViewModels.HomePageViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}

<h1>@Model.CurrentMessageOfTheDay</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td><a asp-action="Details" asp-route-id="@restaurant.Id">@restaurant.Name</a></td>
            <td><a asp-action="Edit" asp-route-id="@restaurant.Id">(edit)</a></td>
        </tr>
    }
</table>
@section footer{
    <small>Ik ben de footer</small>

}


